:root {
  --blue-color-4: #75aedc;
  --blue-color-3: #94c6e3;
  --blue-color-2: #9ed8f0;
  --blue-color-1: #effbff;
  --blue-color-5: #009df8;
  --blue-color-5-dark: #009df8c7;
  --blue-color-7: #75aedc;
  --green-color-1: #008a5b;
  --green-color-2: #5decba;
}
::-webkit-scrollbar {
  width: 0;
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: auto;
  width: 300px;
  /* height: 450px; */
  border: 2px solid black;
  position: relative;
  background-color: var(--blue-color-1);
  overflow: hidden;
}
img{
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;

}
h2,
h3 {
  margin: 0;
  /* display: inline; */
}

.mainImgContainer {
  margin: 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.479);
  height: 55px;
}
.mainImgContainer img {
  width: 100%;
}
.container {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.large {
  font-size: 50px;
}

.blocked {
  composes: large;
  color: var(--blue-color-5);
}

.unblocked {
  color: var(--green-color-1);
  composes: large;
}

.wide {
  width: 100%;
}

.switch {
  margin: 40px 0;
}

.filledButton {
  composes: container;
  border: var(--blue-color-4) 2px solid;
  transition: 0.1s all;
  border-radius: 20px;
  width: -webkit-fill-available;
}

.filledButton[type="list"] {
  background-color: var(--blue-color-2);
}
.filledButton:hover:active{
  filter: brightness(0.85);
}
.filledButton:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.popup {
  background-color: var(--blue-color-2);
  position: absolute;
  margin: 10px;
  border-radius: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: popup 0.3s forwards;
  overflow: hidden;
}
.popupHeader{
  position: absolute;
  width: 100%;

  background-color: var(--blue-color-2);
}
.popupHeader h3{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.popupContent {
  box-sizing: border-box;
  padding-top: 50px;
  height: 100%;
  overflow: scroll;
  width: 100%;
  overflow-wrap: anywhere;

}

@keyframes popup {
  0% {
    transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.topRight {
  height: 100%;
  float: right;
  width: auto;
  padding: 13px;
  box-sizing: border-box;
}
