:root {
  --blue-color-1: #80d9ff;
  --blue-color-2: #40C4FF;
  --blue-color-3: #00B0FF;
  --blue-color-4: #0091EA;
  --blue-color-5: #01579B;
  --green-color-1: #B9F6CA;
  --green-color-2: #00C853;
}
::-webkit-scrollbar {
  width: 0;
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: auto;
  width: 300px;
  /* height: 450px; */
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif;
}
img{
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;

}
h2,
h3 {
  margin: 0;
  /* display: inline; */
}
h2{
  font-weight: 600;
  font-size: 20px;
}
h3{
  font-size: 15px;
  font-weight: 400;
}
button{
  transition: 0.1s all;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
button:hover:active{
  filter: brightness(0.85);
  transform: translate(0,2px);
}
button:hover {
  cursor: pointer;
  filter: brightness(0.95);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.mainImgContainer {
  padding: 0 20px;
  background-color: var(--blue-color-2);
  height: 55px;
}
.mainImgContainer img {
  width: 100%;
}
.container {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  gap: 15px;
}


.containerImg{
  border-radius: 4px;
  width: 40px;
  box-sizing: border-box;
  border: 2px solid black;
}
.blocked {
  color: var(--blue-color-5);
}

.unblocked {
  color: var(--green-color-2);
}


.largeButton{
  border: 1px solid var(--blue-color-3);
  background-color: var(--blue-color-2);
  border-radius: 30px;
  width: 100%;
  font-size: 20px;
  padding: 20px;
}

.filledButton {
  border: var(--blue-color-4) 2px solid;
  border-radius: 20px;
  width: -webkit-fill-available;
  padding: 10px;
}

.filledButton[type="list"] {
  background-color: var(--blue-color-2);
}


/* popup stuff */

.popup {
  background-color: var(--blue-color-2);
  position: absolute;
  margin: 10px;
  border-radius: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: popup 0.3s forwards;
  overflow: hidden;
}
.popupHeader{
  position: absolute;
  width: 100%;

  background-color: var(--blue-color-2);
}
.popupHeader h3{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.popupContent {
  box-sizing: border-box;
  padding-top: 50px;
  height: 100%;
  overflow: scroll;
  width: 100%;
  overflow-wrap: anywhere;

}

@keyframes popup {
  0% {
    transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.topRight {
  height: 100%;
  float: right;
  width: auto;
  padding: 3px;
  margin: 10px;

  box-sizing: border-box;
}
.closeButton{
  composes: topRight;
}
.closeButton:hover{
  cursor: pointer;
}


/* tab */
.tab{
  transition: .2s all;
  flex-grow: 1;
  position: relative;
  text-align: center;
  height: 30px;
  color: rgba(0, 0, 0, 0.486);
  font-size: 15px;
}
.tab:hover{
  cursor: pointer;
  color: rgba(0, 0, 0, 0.664);
}

.tab::after{
  transition: .2s all;
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0px;
  left: 0;
  background-color: var(--blue-color-5);
  opacity: 0;
}
.activeTab{
  color: black !important;
  composes: tab;
}
.activeTab::after{
  opacity: 1;
}